service web {
  image "nginx:1.27"
  replicas 2
  ports 80:80,443:443
  env FOO=bar, BAZ="qux value"
  volumes "./www:/usr/share/nginx/html"
}

service api {
  image "ghcr.io/acme/api:latest"
  replicas 1
}
